{% extends 'app/base.html' %}

{% block content %}
<h2>Listado de Estudiantes</h2>
<a href="{% url 'crear_estudiante' %}">Agregar Nuevo Estudiante</a>
<ul>
    {% for estudiante in estudiantes %}
        <li>
            {{ estudiante.nombre }} - {{ estudiante.email }} (Nacido el {{ estudiante.fecha_nacimiento }})
            <a href="{% url 'editar_estudiante' pk=estudiante.pk %}" class="btn btn-success">Editar estudiante</a>
            <a href="{% url 'eliminar_estudiante' pk=estudiante.pk %}" class="btn btn-danger">Eliminar estudiante</a>
            
        </li>
    {% empty %}
        <li>No hay estudiantes disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}
